@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i|PT+Sans');

/* RGB */
:root {
  --color: rgba(26, 40, 31, 1);
  --color-link: rgba(26, 40, 31, 0.7);
  --color1: rgba(26, 40, 31, 0.6);
  --color2: rgba(99, 82, 85, 1);
  --color3: rgba(206, 123, 145, 1);
  --color4: rgba(192, 232, 249, 1);
  --color5: rgba(164, 191, 189, 1);
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-link);
}

a:hover {
  color: #bbb;
}

h1 {
  font-size: 1.5rem;
  margin: 2rem 0;
}

h2 {
  font-size: 1.2rem;
  margin: 2rem 0 1rem;
}

body {
  color: var(--color);
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", sans-serif;
  flex-direction: column;
  min-height: 100vh;
}

